<style>h1{color:blue}</style>
    <h1>Hi keerthi your report analysis is </h1>
              <table> <tr> NAME:</tr> <td>keerthi</td><tr> COLLEGE:</tr><td>SIET</td> 
               <tr>EMAIL:</tr><td>abcd@gmail.com</td><tr> CONTACT:</tr><td>4567</td></table>

                <table> <tr> <th>NAME</th> <th>SCORE</th> </tr>
                <tr><td>keerthi</td><td>45</td></tr></table>